.pokemon-list
    display: flex
    flex-wrap: wrap
    padding: 0
    a
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        flex-basis: 16.666%
        border: none
        border-radius: 0
        .active
            color: red